# the installed packages
/elpa/

# all the temporary stuff which I'm okay with losing
/var/
/etc/
history
/eshell/lastdir
/custom-settings.el
*~
.python-environments/

# the org-mode compilations
/my-usepackages.el
/my-stock-changes.el

# my snippets repository
/snippets/

# the windows tool
/notifu/
