/auto-save-list/
/elpa/
/server/
/recentf*
/projectile*
/url
/org-html-themes
*~
/tramp
/.org-id-locations
history
/ido.last
/snippets/
/bookmarks
/plugins/
/#recentf#
/eshell/lastdir
/init.el
/custom-settings.el
/network-security.data
/my-org-usepackages.el
/session.10186527a7fa91a1b8148535307944261700000015320057
