/auto-save-list/
/elpa/
!elpa/use-package-*
/server/
/recentf*
/projectile*
/url
/org-html-themes
*~
/tramp
/.org-id-locations
history
/ido.last
/snippets/
/bookmarks
/plugins/
/#recentf#
/eshell/lastdir
/init.el
/custom-settings.el
/network-security.data
/my-org-usepackages.el
/session.10186527a7fa91a1b8148535307944261700000015320057
/session.1089d750c3b0ac71ef148533437570535400000015500060
/abbrev_defs
/var/savehist.el
